@import "../../_styles/variables";
@import "../../_styles/mixins";

.nzap-footer {
  border-top: 4px $accent-color solid;
  position: relative;
  .footer-logo {
    img {
      max-width: 120px;
    }
  }
  .footer-navigation {
    @include font($font-family-primary, $font-weight-regular, $small, $base-color);
    a {
      @include font($font-family-primary, $font-weight-regular, $small, $base-color);
    }
  }

  &__cc {
    position: absolute;
    padding: 0;
    right: 0;
    margin: 0 !important;
    top: -45px;

    img {
      max-width: 70px;
    }
  }
}
