@import "../../_styles/variables";
@import "../../_styles/mixins";

.nzap-header {
  .header-fixed {
    border-top: 8px $ground-color solid;
    position: fixed;
    top: 0;
    background: $light-color;
    z-index: 10;
  }
  .header-fixed.open {
    border-top: 8px $accent-color solid;
  }
  .project-title {
    a {
      @include font($font-family-primary-narrow, $font-weight-light, $medium, $base-color);
      &:hover {
        text-decoration: none;
      }
    }
  }
  .nzap-navigation {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
      display: flex;
      li {
        display: flex;
        max-width: 80px;
        @media (min-width: 1200px) {
          display: inline-block;
          max-width: unset;
        }
        a {
          position: relative;
          //transition: opacity .3s ease;
          @include font($font-family-primary-wide, $font-weight-semi-bold, $medium, $base-color);
          transition: color 0.3s ease;
          &:hover {
            text-decoration: none;
            color: $dark-accent-color !important;
          }
          &:focus:after {
            content: "";
            width: 48px;
            height: 4px;
            position: absolute;
            bottom: -20px;
            left: 8px;
            border-bottom: 4px solid $accent-color;
            transition: 150ms;
            display: block;
          }
          &.active {
            color: $base-color !important;
            &:after {
              content: "";
              width: 48px;
              height: 4px;
              position: absolute;
              bottom: -20px;
              left: 8px;
              border-bottom: 4px solid $accent-color;
              transition: 150ms;
              display: block;
            }
          }
        }
      }
    }
  }
}

ul.draw {
  list-style: none;
  li {
    a {
      @include font($font-family-primary-narrow, $font-weight-light, $large, $mezzoforte-color);
    }
  }
}

.nav-icon {
  left: 0;
  width: 40px;
  z-index: 999999999;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: $accent-color;
  content: "";
  display: block;
  height: 2px;
  margin: 9px 0;
  transition: all 0.2s ease-in-out;
}
.nav-icon.active {
  left: -165px;
}
.nav-icon.active:after,
.nav-icon.active:before,
.nav-icon.active div {
  background-color: $piano-color;
}
.nav-icon.active:before {
  transform: translateY(11px) rotate(135deg);
}

.nav-icon.active:after {
  transform: translateY(-11px) rotate(-135deg);
}

.nav-icon.active div {
  transform: scale(0);
}
