@import "../../_styles/variables";
@import "../../_styles/mixins";

.explore-jump-holder {
  top: 65px;
  top: 4px;
}
.to-data-explorer {
  @include font($font-family-primary, $font-weight-semi-bold, $small, $highlight-color);
  left: -100px;
  top: 40px;
  top: 72px;
  img {
    width: 30px;
  }
  a {
    @include font($font-family-primary, $font-weight-semi-bold, $small, $highlight-color);
    &:hover {
      text-decoration: none;
    }
  }
}

.headline-area {
  order: 1;
}
@media (min-width: 768px) {
  .headline-area {
    order: 0;
  }
}
.atf {
  // .nzap-jumbotron {
  background: none;
  .intro-image {
    max-width: 100%;
    @media (min-width: 768px) {
      max-width: unset;
      height: 320px;
      left: -24px;
      top: -42px;
    }
  }
  .title {
    @include font($font-family-primary, $font-weight-light, $xxlarge, $highlight-color);
  }
  .subtitle {
    @include font($font-family-primary, $font-weight-semi-bold, $xlarge, $base-color);
  }
  .introduction {
    p {
      @include font($font-family-primary, $font-weight-regular, $medium, $para-color);
      line-height: 1.6;
      span.highlight {
        @include font($font-family-primary, $font-weight-semi-bold, $medium, $base-color);
      }
      a {
        color: #be5709;
      }
    }
  }
  // }
}
.quotable {
  background-color: #f7f9fb;
  border-radius: 6px;
  .icon-holder {
    img {
      width: 14px;
    }
  }
  .quote-holder {
    max-width: 90%;
    .quote {
      @include font($font-family-secondary, $font-weight-regular, $large, $base-color);
      font-style: italic;
    }
    .by {
      @include font($font-family-primary, $font-weight-regular, $small14, $base-color);
      padding-top: 16px;
    }
  }
}

.solutions {
  h3.label {
    // @include font($font-family-primary, $font-weight-regular, $medium, $highlight-color);
  }
  .approaches {
    .approach {
      .image-header {
        height: 50px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .scenario {
        @include font($font-family-primary, $font-weight-bold, $small14, $highlight-color);
        margin-bottom: 16px;
      }
      .title {
        .highlight {
          @include font($font-family-primary, $font-weight-bold, $large, $accent-color);
        }
        .label {
          @include font($font-family-primary, $font-weight-light, $large, $highlight-color);
        }
      }
      ul.features {
        margin-top: 16px;
        li {
          @include font($font-family-primary, $font-weight-regular, $small14, $para-color);
        }
      }
    }
  }
}
