
@import "../../_styles/variables";
@import "../../_styles/mixins";



//

.name-drop {
  @include font($font-family-primary, $font-weight-light, $medium, $ground-color);
  .image {
    img {
    }
  }
  .publication {
    @include font($font-family-primary, $font-weight-light, $large, $highlight-color);
    display: none;
  }
  .snippet {
    margin-top: 16px;
    @media (min-width:992px) {
      min-height: 88px;
      max-height: 88px;
    }
    @media (min-width:1200px) {
      min-height: 72px;
      max-height: 72px;
    }
    color: $para-color;
  }
  .articleLink {
    margin-top: 8px;
    a {
      color: $dark-accent-color;
      font-weight: $font-weight-regular;
    }
  }
}
