@import "../../_styles/variables";
@import "../../_styles/mixins";

.page-content {
  h2 {
    @include font($font-family-primary, $font-weight-regular, $large, $highlight-color);
  }
}

.show-more {
  border: 0 !important;
  padding: 0;
  background: none;
  font-size: 14px;
  display: table;

  span {
    position: relative;
    left: 20px;
    top: 3px;

    &::after {
      width: 8px;
      height: 2px;
      background-color: black;
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform-origin: left;
      transform-origin: left center;
      transform: translate(-43%, -40%) rotate(-135deg);
    }

    &::before {
      width: 8px;
      height: 2px;
      background-color: black;
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform-origin: left bottom;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}