@import "../../_styles/variables";
@import "../../_styles/mixins";

.atf.the-report {
  // .nzap-jumbotron {
  background: none;
  .intro-image {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    //margin-bottom: 32px;
  }
  .title {
    @include font($font-family-primary, $font-weight-light, $xxlarge, $highlight-color);
  }
  .subtitle  {
    bottom: 0;
    h1 {
      @include font($font-family-primary, $font-weight-semi-bold, $xlarge, $base-color);
    }
  }
  .introduction {
    p {
      @include font($font-family-primary, $font-weight-light, $medium, $ground-color);
      span.highlight {
        @include font($font-family-primary, $font-weight-semi-bold, $medium, $base-color);
      }
    }
  }
  // }
}

.annexes-label {
  @include font($font-family-primary-narrow, $font-weight-light, $medium, $highlight-color);
}
.annexes {
  .annex {
    .tag {
      @include font($font-family-primary, $font-weight-bold, $small, $highlight-color);
    }
    .title {
      @include font($font-family-primary, $font-weight-light, $large, $highlight-color);
    }
  }
}

a.nzap-button {
  display: inline-block;
  color: #385369;
  text-decoration: none;
  transition: background-color .3s ease;
  &:hover {
    background-color:#be5709;
    color: white;
    border-color: #be5709;
    text-decoration: none;
  }
}