.filter-holder {
  background: $background-color;
}

.select {
  min-width: 220px;
  .icon {
    right: 10px;
  }
}
.options {
  &:hover {
    background: $background-color;
  }
}
.options.active {
  background: $background-color;
  color: $accent-color;
}
#dropdown-states-menu,
#dropdown-categories-menu {
  min-width: 200px;
  max-height: 200px;
  overflow: auto;
}

.category-filters {
  .filter-label {
    @include font($small, $thick, $neutral-color);
  }
  .category-input {
    input {
      background: none;
      height: inherit;
    }
  }
  .category {
    @include font($small, $thick, $dark-color);
    &:hover {
      @include font($small, $thick, $accent-color);
    }
    .icon {
      top: -1px;
      right: 2px;
    }
  }
  .sub-category {
    @include font($small, $thick, $dark-color);
    &:hover {
      @include font($small, $thick, $accent-color);
    }
  }
}

.category-filters.show {
  max-height: 500px;
  // overflow: auto;
}
.category-filters.hide {
  max-height: 0;
  overflow: hidden;
}
.hide-extra {
  @include font($small, $thick, $neutral-color);
}
