.landing-page {
  .atf {
    background: $background-color;
    height: 100vh;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    // background-size: 500px;

    i,
    b,
    u {
      color: $secondary-color;
    }

    .hero {
      max-width: 1000px;
      margin: auto;
      height: 90vh;
      .logo {
        img {
          height: 70px;
          background: $background-color;
          border: 3px $neutral-color solid;
        }
      }
      .title {
        @include font($xxlarge, $bold, $dark-color);
        i {
          color: $primary-color;
        }
      }
      .subtitle {
        @include font($large, $regular, $neutral-color);
      }
    }
  }
  .btf {
    .how-it-works {
      .title {
        @include font($xlarge, $bold, $dark-color);
      }
      .number {
        color: $secondary-color;
        left: 60px;
        z-index: 2;
      }
      .illustration {
        img.hiw-graphic {
          height: 200px;
        }
      }
      .label {
        @include font($medium, $bold, $secondary-color);
      }
      .summary {
        @include font($medium, $regular, $neutral-color);
      }
    }
  }
}
