@import "_variables";
@import "_mixins";

.firebaseui-card-content {
  padding: 0px;
}

.firebaseui-list-item {
  .firebaseui-idp-button,
  .firebaseui-tenant-button {
    max-width: initial;

    &:hover {
      box-shadow: 0 4px 3px 3px $pianissimo-color !important;
    }
  }

  .firebaseui-idp-button.firebaseui-idp-google {
    border: 1px $base-color solid;
  }
}

.mdl-button--raised {
  box-shadow: none;
}
