// NZAP Theming

// Colors
$nzap-color-ground: #323438;
$nzap-color-base: #585973;
$nzap-color-highlight: #5690a8;
$nzap-color-accent: #ed6d0b;
$nzap-color-mezzoforte: #81848c;
$nzap-color-piano: #d5d7e0;
$nzap-color-pianissimo: #e7e8f2;

// Fonts

// Families
$nzap-font-family-primary: protipo, sans-serif;
$nzap-font-family-primary-narrow: protipo-narrow, sans-serif;
$nzap-font-family-primary-wide: protipo-wide, sans-serif;
$nzap-font-family-secondary: proforma, sans-serif;

// Weights
$nzap-font-weight-light: 300;
$nzap-font-weight-regular: 400;
$nzap-font-weight-semi-bold: 500;
$nzap-font-weight-bold: 700;
$nzap-font-weight-extra-bold: 800;

// Sizes
$nzap-xxlarge: 50px;
$nzap-xlarge: 30px;
$nzap-large: 20px;
$nzap-medium: 16px;
$nzap-small: 12px;
$nzap-xsmall: 9px;

// Radius
$nzap-default-corner-radius: 4px;
$nzap-deep-radius: 15px;
