// NZAP Theming

// Colors
$ground-color: #323438;
$base-color: #585973;
$highlight-color: #385369;
$accent-color: #ed6d08;
$dark-accent-color: #be5709;
$mezzoforte-color: #81848c;
$piano-color: #d5d7e0;
$pianissimo-color: #e7e8f2;
$light-color: #ffffff;
$positive-color: #4fcb78;
$negative-color: #ff3b3b;

// Fonts

// Families
$font-family-primary: protipo, sans-serif;
$font-family-primary-narrow: protipo-narrow, sans-serif;
$font-family-primary-wide: protipo-wide, sans-serif;
$font-family-secondary: proforma, sans-serif;

// Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// Sizes
$xxlarge: 50px;
$xlarge: 40px;
$large: 25px;
$medium: 16px;
$small: 12px;
$xsmall: 9px;

// Radius
$default-corner-radius: 8px;
$deep-radius: 20px;

// // Colors
// $ground-color: #333333;
// $base-color: #95b5cc;
// $light-color: #ffffff;
// $highlight-color: #4059ad;
// $base-color: #40ad94;
// $accent-color: #ff9534; //#E9BF56;
// $pianissimo-color: #f5f8fa; //#F5F8FA;

// // Fonts

// // Font Size
// $xxlarge: 50px;
// $xlarge: 30px;
// $large: 20px;
// $medium: 16px;
// $small: 12px;
// $xsmall: 9px;

// // Font Weight
// $regular: 500;
// $thick: 600;
// $font-weight-bold: 700;
// $font-family-sans-serif: protipo, sans-serif;

// $default-corner-radius: 4px;
// $deep-radius: 15px;
