// Colors
$dark-color: #333333;
$neutral-color:#95B5CC;
$light-color: #FFFFFF;
$primary-color: #4059AD;
$secondary-color:#40ad94; 
$accent-color: #FF9534; //#E9BF56;
$positive-color: #4FCB78;
$negative-color: #FF3B3B;
$background-color: #F5F8FA; //#F5F8FA;

// Font Size
$xxlarge: 50px;
$xlarge: 30px;
$large: 20px;
$medium: 16px;
$small: 12px;
$xsmall: 9px;

// Font Weight
$regular: 500;
$thick: 600;
$bold: 700;
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700');
$font-family-sans-serif: 'Montserrat',
sans-serif;

$default-corner-radius: 4px;
$deep-radius: 15px;



// // Bootstrap Variables
// $body-bg: #000;
// $body-color: #111;
// $white-color: #fff;