@import "../../_styles/variables";
@import "../../_styles/mixins";

.nzap-filters {
}

.filter-categories {
  .filter-category {
    border: 1px $piano-color solid;
    background: $pianissimo-color;
    @include font($font-family-primary-narrow, $font-weight-light, $small, $mezzoforte-color);
  }
  .filter-category.active {
    border: 1px $ground-color solid;
    background: $light-color;
  }
}
