@import "../../_styles/variables";
@import "../../_styles/mixins";

.nzap-filters {
}

.filter-categories {
  .filter-category {
    border: 1px $piano-color solid;
    background: $pianissimo-color;
    @include font($font-family-primary-narrow, $font-weight-light, $small, $mezzoforte-color);
  }
  .filter-category.active {
    border: 1px $ground-color solid;
    background: $light-color;
  }
}

.examiner {
  .years {
    .year {
      border-bottom: 2px $piano-color solid;
      .tile {
        border-top-left-radius: $default-corner-radius;
        border-top-right-radius: $default-corner-radius;
      }
    }
    .year.active {
      border-bottom: 2px $highlight-color solid;
      .tile {
        border-top-left-radius: $default-corner-radius;
        border-top-right-radius: $default-corner-radius;
        background: $highlight-color;
        color: $light-color;
      }
    }
  }
  #left-corner {
    width: 12px;
    height: 12px;
    border-top-left-radius: $default-corner-radius;
    border-top: 2px $highlight-color solid;
    border-left: 2px $highlight-color solid;
    bottom: -10px;
    left: -12px;
  }
  #right-corner {
    width: 12px;
    height: 12px;
    border-top-right-radius: $default-corner-radius;
    border-top: 2px $highlight-color solid;
    border-right: 2px $highlight-color solid;
    bottom: -10px;
    right: -12px;
  }
}
