@import "../../_styles/variables";
@import "../../_styles/mixins";

.nzap-filters {
}

.filter-categories {
  .filter-category {
    border: 2px $mezzoforte-color solid;
    background: $pianissimo-color;
    color: $mezzoforte-color;
  }
  .filter-category.active {
    border: 2px $ground-color solid;
    background: $light-color;
    color: $ground-color;
  }
}
