@import "../../_styles/variables";
@import "../../_styles/mixins";

.nzap-table-holder {
  max-height: 600px;
  min-height: 400px;
  overflow: auto;
}
.nzap-table-footer {
  border-top: 2px $piano-color solid;
  #left-corner {
    width: 12px;
    height: 12px;
    border-bottom-left-radius: $default-corner-radius;
    border-bottom: 2px $piano-color solid;
    border-left: 2px $piano-color solid;
    top: -12px;
    left: -12px;
  }
  #right-corner {
    width: 12px;
    height: 12px;
    border-bottom-right-radius: $default-corner-radius;
    border-bottom: 2px $piano-color solid;
    border-right: 2px $piano-color solid;
    top: -12px;
    right: -12px;
  }
}
.nzap-explore-loader {
  .filter-section-label {
    @include font($font-family-primary, $font-weight-regular, $large, $highlight-color);
  }
  .filter-explore-by {
    @include font($font-family-primary, $font-weight-regular, $small, $ground-color);
  }
}

.ant-tabs-nav-list {
  margin-left: 30px;
}
.ant-tabs-nav-wrap {
  border-bottom: 2px $accent-color solid;
  overflow: inherit !important;
}
.ant-tabs-tab {
  bottom: -2px;
  padding: 5px 20px;
  margin: 0px 5px;
  border-bottom: 2px $piano-color solid;
  .ant-tabs-tab-btn {
    @include font($font-family-primary, $font-weight-semi-bold, $small, $mezzoforte-color);
  }
}
.ant-tabs-tab-active {
  background: $accent-color;
  border-bottom: 2px transparent solid;
  border-radius: 8px 8px 0px 0px;
  .ant-tabs-tab-btn {
    @include font($font-family-primary, $font-weight-semi-bold, $small, $light-color);
  }
}
.ant-tabs-ink-bar {
  // bottom: -2px !important;
  display: none;
}

.nzap-button {
  background: $light-color;
  border: 1px $ground-color solid;
}

.ant-pagination-item {
  @include font($font-family-primary, $font-weight-light, $medium, $ground-color);
  margin: unset;
  border: none;
  min-width: unset;
  height: unset;
  a {
    border-bottom: 2px transparent solid;
  }
}
.ant-pagination-item-active {
  margin: unset;
  a {
    border-bottom: 2px $accent-color solid;
  }
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  border: none !important;
  margin-top: -3px;
}
