@import "../../_styles/variables";
@import "../../_styles/mixins";

.nzap-table-holder {
  height: 600px;
  // min-height: 400px;
  overflow: auto;
  .no-data-holder {
    .message {
      padding: 100px 0;
      background-color: $background-color;
      h3 {
        color: $accent-color !important;
      }
      p {
        $color: $highlight-color;
      }
    }
  }
}
.nzap-table-footer {
  border-top: 2px $piano-color solid;
  #bottom-left-corner {
    width: 12px;
    height: 12px;
    border-bottom-left-radius: $default-corner-radius;
    border-bottom: 2px $piano-color solid;
    border-left: 2px $piano-color solid;
    top: -12px;
    left: -12px;
  }
  #bottom-right-corner {
    width: 12px;
    height: 12px;
    border-bottom-right-radius: $default-corner-radius;
    border-bottom: 2px $piano-color solid;
    border-right: 2px $piano-color solid;
    top: -12px;
    right: -12px;
  }
}
.nzap-explore-loader {
  .filter-section-label h3 {
    @include font($font-family-primary, $font-weight-regular, $large, $highlight-color);
  }
  .filter-explore-by {
    @include font($font-family-primary, $font-weight-regular, $small, $ground-color);
  }
  .filter-data-guidelines {
    @include font($font-family-primary, $font-weight-regular, $small, $dark-accent-color);
    a {
      color: inherit;
    }
  }
  .explore-tabs-holder {
    border-bottom: 2px $dark-accent-color solid;
    .data-guidelines {
      @include font($font-family-primary, $font-weight-semi-bold, $medium, $dark-accent-color);
      a {
        color: inherit;
      }
    }
  }
}

.ant-tabs-top > .ant-tabs-nav {
  margin: 0 !important;
}
.ant-tabs-nav-list {
  margin-left: 30px;
}
.ant-tabs-nav-wrap {
  border-bottom: none;
  overflow: inherit !important;
}
.ant-tabs-tab {
  bottom: -2px;
  padding: 5px 20px !important;
  margin: 0px 5px;
  border-bottom: 2px $piano-color solid;
  .ant-tabs-tab-btn {
    @include font($font-family-primary, $font-weight-semi-bold, $small, $base-color);
  }
}
.ant-tabs-tab-active {
  background: $dark-accent-color !important;
  border-bottom: 2px transparent solid;
  border-radius: 8px 8px 0px 0px;
  .ant-tabs-tab-btn {
    @include font($font-family-primary, $font-weight-semi-bold, $small, $light-color);
  }
}
.ant-tabs-ink-bar {
  // bottom: -2px !important;
  display: none;
}

.nzap-button {
  background: $light-color;
  border: 1px $ground-color solid;
}

.ant-pagination-item {
  @include font($font-family-primary, $font-weight-light, $medium, $ground-color);
  margin: unset !important;
  border: none !important;
  min-width: unset !important;
  height: unset !important;
  a {
    border-bottom: 2px transparent solid !important;
  }
}
.ant-pagination-item-active {
  margin: unset !important;
  a {
    border-bottom: 2px $dark-accent-color solid !important;
  }
}
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  border: none !important;
  margin-top: -3px !important;
}
